/* This is for your Custom Content. */

html, body {
  background: url(../media/bgs/body.png) repeat;
}

strong {
  color: #d8d8d8;
}

.content {
  p, li {
    line-height:25px;
  }
  p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ol ol {
    list-style: lower-roman;
  }
  ul ul li:not(:last-child),
  ul ol li:not(:last-child),
  ol ul li:not(:last-child),
  ol ol li:not(:last-child) {
    padding-bottom: 10px;
  }
}

a.btn, a.btn.disabled {
  &:hover {
    color: rgba(255, 255, 255, 1.0);
  }
}

.post > .title::before
{
  content: "> ";
}

.post > .title
{
  padding-bottom: 5px;
}

.post {
  @include box-shadow(
     rgba(255, 255, 255, 0.1) 0 1px 0, 
     rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
  );
  background: lighten(#202020, 5%);
  background-color: lighten(rgba(0, 0, 0, 0.3), 5%);
  border:none;
  padding: 10px 20px 10px;
  margin: 0px -20px 20px;
  @include border-top-left-radius;
  @include border-top-right-radius;
  @include border-bottom-left-radius;
  @include border-bottom-right-radius;
}

.post:first-child {
  margin-top: 20px;
}

.page-header + div .post:first-child {
  margin-top: 0px;
}

ul, ol
{
  margin-bottom: 0px;
}

h1, h2
{
  margin-top: 15px;
}

h1:first-child, h2:first-child
{
  margin-top: 0px;
}

.pagination-centered-wrapper
{
  text-align: center;
}

.pagination-centered-wrapper .pagination-centered
{
  display: inline-block;
  margin: 0px;
}

pre.prettyprint
{
  margin-top: 18px;
}

.tag_box_container
{
  padding: 10px 0;
}

.tag_box_container_empty
{
  display: none;
}

.zocial.github:focus,
.zocial.github:hover
{
  color: #46c0fb !important;
}

.zocial.github,.zocial.twitter,.zocial.linkedin,.zocial.rss
{
  background-color: #050505;
  padding: 0px !important;
  margin: 4px 5px 4px !important;
}

.navbar-inner {
  background-color: darken(#363636, 10%);
  background: url(../media/bgs/navbar.png) repeat;
}

.nav-collapse .nav > li > a:hover,
.nav-collapse .dropdown-menu a:hover {
  background-color: darken(#222222, 6%);
}

a {
  @include transition(none);
}
